<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    {#    <embed src="../../static/myapps/media/4090192531.mp3'" hidden="ture"/>#}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapps/homepagestyle.css' %}"/>
    <script src="{% static 'myapps/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'myapps/js/homepage.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'myapps/css/homepage1.css' %}"/>
</head>
<body>
<div class="data-head">
    <h1>hello, welcome my site!</h1>
</div>
<div id="catch">
    <div class="container">

    </div>
</div>
<span style="font-size: 20px">来听一曲儿七里香～</span>
<audio controls autoplay loop src="{% static 'myapps/media/qlx.flac' %}">来听一曲儿七里香～</audio>
</body>
</html>